# Byte-compiled / optimized / DLL files
*.py[cod]

# env config
environment_settings.py

# dev database
db.sqlite3
db.sqlite3.bak

*.csv


# whoosh index files
*.seg
src/whoosh_index/MAIN_WRITELOCK
*.toc
*.pst
*.trm
*.ctmp

src/mrx/python2.7.exe.stackdump
.~lock.*
